.line {
    height: 2px;
    background-color: rgba(25, 31, 37, 0.08);
}

.line_mar32 {
    height: 2px;
    background-color: rgba(25, 31, 37, 0.08);
    margin: 0px 32px;
}


.line_marleft32 {
    height: 2px;
    background-color: rgba(25, 31, 37, 0.08);
    margin-left: 32px;
}